# Visual Studio and VS Code cache, temp, and build output files. 
*.vs/
*.vscode/
*.code-workspace
*.pdb
*.cache

# Node folders
**/node_modules/

# Media folders
**/media

# Expo and react-native files and build folders
*.expo/
**/dist/
**/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*